$white-color                : #FFFFFF;
$davis-grey-color           : #555555;
$electric-crimson-color     : #FF003F;
$silver-color               : #C0C0C0;
$timberwolf-color           : #DBD7D2;
$true-blue-color            : #0073CF;
$denim-color                : #1560BD;
$royal-blue-color           : #4169E1;
$cultured-color             : #F5F5F5;
$baby-powder-color          : #FEFEFA;
$violet-blue-color          : #324AB2;
$ball-blue-color            : #21ABCD;

/* 2016 Trend Color */
$rose-quartz-color          : #F7CAC9;
$peach-echo-color           : #F7786B;
$serenity-color             : #91A8D0;
$snorkel-blue-color         : #034F84;
$buttercup-color            : #FAE03C;
$limpet-shell-color         : #98DDDE;
$lilac-gray-color           : #9896A4;
$fiesta-color               : #DD4132;
$iced-coffee-color          : #B18F6A;
$green-flash-color          : #79C753;
/* end 2016 Trend Color */

$pastel-sage-color          : #D8DFBB;
$martina-olive-color        : #8C8D3E;
$eugenia-color              : #EFE4CF;
$octavius-color             : #39393E;
$film-noir-color            : #463730;

$bed-blue-color             : #BED0D2;
$lite-yellow-color          : #FCFBCB;
$lite-grey-color            : #EEEEEE;
$lite-violet-color          : #7CA0C7;
