{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% trans '500 error' %}{% endblock %}</title>
  </head>
  <body>
    <h1>{% blocktrans %}Apologies. An error has occured.{% endblocktrans %}</h1>
    {% blocktrans %}
    <p>There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly.
    Thanks for your patience.</p>
    <p>To return to the home page please click {% endblocktrans%}<a href="/">{%trans "here"%}</a>.</p>
  </body>
</html>
