#navigation-form .submit-row input.default { float:none; }
#navigation ul { padding:0; margin:0; padding-left:40px; }
#navigation ul li {}
#navigation li { list-style: none; margin: 0; padding: 0; }
#navigation li div.border { margin: 3px 0 0 0; }
#navigation { padding-top:0.5em; padding-bottom:0.5em; padding-left: 0px;}
#navigation li { clear:both; }
#navigation li span {
/*     cursor:pointer; */
    color: #777;
}
#navigation li a span { color:#5B80B2; font-weight: bold }
#navigation li a:hover span { color:#036; text-decoration:none;}
/*#navigation li span:hover, #navigation li span:focus { text-decoration:underline; }
#navigation li span:hover span, #navigation li span:focus span { text-decoration:none; }*/
/*#navigation li.drag span { background-color:#eee; }*/
#navigation li.changed .border { background-color:#ffc !important; }
#navigation .toolbox { float:right; }
#navigation .toolbox a, #navigation .toolbox label { margin:0 0.5em; }
#navigation .toolbox label { margin-left:0; }
/*#navigation { width:700px; }*/
.toolbox { display:none; } /* don't display in drag shadow */
#navigation .toolbox { display:block; }
#navigation .toolbox label { font-size:1em; }
#navigation .toolbox label.left { margin-left:0.5em; }
#navigation .toolbox img { margin-right:1em; }
#navigation div.border:hover { background-color:#eee;}
#navigation div.border { border-bottom: 1px solid #ddd; padding: 5px 5px 5px 10px; background-color:#f1f6ff; /*margin-right: 350px*/}
/*#navigation div.border .toolbox { display:none; }
#navigation div.border:hover .toolbox { display:block; }*/
#navigation .path { width:10em; display:block; float:left; overflow:hidden; text-align:left; }
#navigation .path a { font-weight:normal; color:#666; font-size:0.9em; overflow:hidden;}

#navigation .movespan {
    font-weight: normal;
    margin-right: 10px;
    color: #999;
    font-size: 0.9em;
    padding-left:15px;
    background:url(/static/pages/images/icon_move.gif) 0 0 no-repeat;
    cursor: move;
}
#navigation .movespan:link { text-decoration: none; color: #036;}
#navigation .movespan:hover { text-decoration: none; color: #036;}
#navigation .view { font-weight:normal; margin-right: 0px; color:#999; padding-left:15px; background:url(/static/pages/images/selector-addall.gif) 0 0.1em no-repeat; }
#navigation .link_id { cursor:default; font-weight:normal; padding-left:1em; color:#999; font-size:0.9em; }
#navigation  .navi-item { padding-right: 0.8em; }
