/* 2016 Trend Color */
/* end 2016 Trend Color */
/* line 4, ../sass/admin.scss */
div.breadcrumbs {
  color: #FCFBCB;
}

/* line 9, ../sass/admin.scss */
.submit-row a.deletelink {
  background-color: #DD4132;
}

/* line 13, ../sass/admin.scss */
#header {
  padding-top: 3px;
}
/* line 15, ../sass/admin.scss */
#header #site-name {
  color: white;
  margin-top: 6px;
}
/* line 18, ../sass/admin.scss */
#header #site-name a,
#header #site-name a:hover {
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  padding: 0;
  margin: 0;
}
/* line 27, ../sass/admin.scss */
#header #lang-form {
  margin: 7px 0 8px 10px;
}
/* line 29, ../sass/admin.scss */
#header #lang-form h1 {
  display: inline;
  padding-right: 31px;
}
/* line 33, ../sass/admin.scss */
#header #lang-form input {
  margin-top: -3px;
}
/* line 38, ../sass/admin.scss */
#header a {
  text-decoration: none;
}
/* line 40, ../sass/admin.scss */
#header a:hover {
  text-decoration: none;
  color: #EEEEEE;
}

/* line 47, ../sass/admin.scss */
h1 {
  font-weight: normal;
  color: #39393E;
}

/* line 52, ../sass/admin.scss */
.module {
  border-color: #555555;
  margin-bottom: 1em;
}
/* line 56, ../sass/admin.scss */
.module table caption {
  font-size: 13px;
  white-space: nowrap;
}
/* line 62, ../sass/admin.scss */
.module table tbody th a {
  color: #034F84;
  border-bottom: 1px dotted #C0C0C0;
}
/* line 65, ../sass/admin.scss */
.module table tbody th a:hover {
  border-bottom: none;
}
/* line 71, ../sass/admin.scss */
.module table tbody tr td,
.module table tbody tr th {
  padding: 0.7em 0.6em;
}
/* line 76, ../sass/admin.scss */
.module table tbody tr:last-child td,
.module table tbody tr:last-child th {
  border-bottom: none;
}

/* line 89, ../sass/admin.scss */
#changelist table tbody td {
  border-left: none;
}
/* line 95, ../sass/admin.scss */
#changelist .filtered TABLE {
  margin-right: 160px !important;
  width: auto !important;
}

/* line 106, ../sass/admin.scss */
.fieldsets-table .right-column fieldset,
.fieldsets-table .left-column fieldset {
  float: none;
}
/* line 110, ../sass/admin.scss */
.fieldsets-table td.right-column {
  width: 100%;
}

/* line 116, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title {
  margin-top: 1em;
  display: block;
  clear: both;
}
/* line 120, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title li {
  display: inline;
  list-style: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  border: 1px solid #C0C0C0;
  text-decoration: none;
}
/* line 129, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title li.hover {
  text-decoration: underline;
}
/* line 132, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title li.active {
  background-color: #7CA0C7;
  color: #FFFFFF;
  text-decoration: none;
}
/* line 140, ../sass/admin.scss */
#fieldsets-tabs INPUT {
  width: 790px;
}

/* line 145, ../sass/admin.scss */
.admin-error {
  color: #FF003F;
  font-size: 1.3em;
  margin: 1em 0;
}

/* line 151, ../sass/admin.scss */
#id_slug {
  width: 300px;
}

/* line 155, ../sass/admin.scss */
#banner_flash {
  vertical-align: middle;
}

/* line 160, ../sass/admin.scss */
#result_list TD.nowrap {
  text-align: right;
}

/* line 167, ../sass/admin.scss */
.colM .aligned .vURLField,
.colM .aligned .vLargeTextField,
.colM .aligned .vTextField {
  width: 792px;
}

/* line 175, ../sass/admin.scss */
.stacked {
  width: 570px;
}
/* line 177, ../sass/admin.scss */
.stacked .selector-chosen,
.stacked .selector-available,
.stacked SELECT {
  width: 560px;
  height: 16.3em;
}
/* line 184, ../sass/admin.scss */
.stacked .selector-available INPUT {
  width: 520px;
}
/* line 188, ../sass/admin.scss */
.stacked UL.selector-chooser {
  margin: 0 0 3px 43%;
}

/* line 193, ../sass/admin.scss */
.selector {
  width: 994px;
}
/* line 195, ../sass/admin.scss */
.selector .selector-available,
.selector .selector-chosen,
.selector SELECT {
  width: 480px;
}
/* line 201, ../sass/admin.scss */
.selector .selector-available INPUT {
  width: 420px;
}
/* line 206, ../sass/admin.scss */
.selector .selector-chosen .selector-filter {
  text-align: center;
}

/* line 212, ../sass/admin.scss */
A.selector-chooseall,
A.selector-clearall {
  width: 120px;
}

/* line 219, ../sass/admin.scss */
.form-row .qrcode IMG {
  vertical-align: top;
  margin-left: 130px;
}

/* line 226, ../sass/admin.scss */
.calendarbox {
  width: 260px;
}

/* line 230, ../sass/admin.scss */
.mce-tinymce {
  display: inline-block !important;
}

/* line 235, ../sass/admin.scss */
.mce-reset .mce-title {
  font-size: 24px !important;
  font-weight: normal !important;
}
