/* line 1, ../sass/admin.scss */
#header {
  padding-top: 3px;
}
/* line 3, ../sass/admin.scss */
#header #site-name {
  color: white;
  margin-top: 6px;
}
/* line 6, ../sass/admin.scss */
#header #site-name a,
#header #site-name a:hover {
  text-decoration: none;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
}
/* line 15, ../sass/admin.scss */
#header #lang-form {
  margin: 7px 0 8px 10px;
}
/* line 17, ../sass/admin.scss */
#header #lang-form h1 {
  display: inline;
  padding-right: 30px;
}
/* line 21, ../sass/admin.scss */
#header #lang-form input {
  margin-top: -3px;
}
/* line 26, ../sass/admin.scss */
#header a {
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}
/* line 29, ../sass/admin.scss */
#header a:hover {
  text-decoration: none;
  color: #eee;
}

/* line 36, ../sass/admin.scss */
h1 {
  font-family: tahoma, arial, verdana, sans-serif;
  font-weight: normal;
  font-size: 2em;
  color: #222;
}

/* line 44, ../sass/admin.scss */
.module {
  border-color: #596167;
  margin-bottom: 1em;
}
/* line 48, ../sass/admin.scss */
.module table caption {
  font-size: 1.3em;
  font-weight: bold;
  white-space: nowrap;
}
/* line 56, ../sass/admin.scss */
.module table tbody th a {
  color: #036;
  border-bottom: 1px dotted #999;
}
/* line 62, ../sass/admin.scss */
.module table tbody tr td,
.module table tbody tr th {
  padding: 0.7em 0.6em;
}
/* line 67, ../sass/admin.scss */
.module table tbody tr:last-child td,
.module table tbody tr:last-child th {
  border-bottom: none;
}

/* line 80, ../sass/admin.scss */
#changelist table tbody td {
  border-left: none;
}
/* line 86, ../sass/admin.scss */
#changelist .filtered TABLE {
  margin-right: 160px !important;
  width: auto !important;
}

/* line 97, ../sass/admin.scss */
.fieldsets-table .right-column fieldset,
.fieldsets-table .left-column fieldset {
  float: none;
}
/* line 101, ../sass/admin.scss */
.fieldsets-table td.right-column {
  width: 100%;
}

/* line 107, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title {
  margin-top: 1em;
  display: block;
  clear: both;
}
/* line 111, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title li {
  display: inline;
  list-style: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3em;
  border: 1px solid #596167;
  text-decoration: none;
}
/* line 120, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title li.hover {
  text-decoration: underline;
}
/* line 123, ../sass/admin.scss */
#fieldsets-tabs ul.mootabs_title li.active {
  background: #7CA0C7 url("/static/elements/img/default-bg.gif") repeat-x scroll center top;
  color: white;
  text-decoration: none;
}
/* line 130, ../sass/admin.scss */
#fieldsets-tabs INPUT {
  width: 790px;
}

/* line 135, ../sass/admin.scss */
.admin-error {
  color: #A00;
  font-size: 1.3em;
  margin: 1em 0;
}

/* line 141, ../sass/admin.scss */
#id_slug {
  width: 300px;
}

/* line 145, ../sass/admin.scss */
#banner_flash {
  vertical-align: middle;
}

/* line 150, ../sass/admin.scss */
#result_list TD.nowrap {
  text-align: right;
}

/* line 157, ../sass/admin.scss */
.colM .aligned .vURLField,
.colM .aligned .vLargeTextField,
.colM .aligned .vTextField {
  width: 792px;
}

/* line 165, ../sass/admin.scss */
.stacked {
  width: 570px;
}
/* line 167, ../sass/admin.scss */
.stacked .selector-chosen,
.stacked .selector-available,
.stacked SELECT {
  width: 560px;
  height: 16.3em;
}
/* line 174, ../sass/admin.scss */
.stacked .selector-available INPUT {
  width: 520px;
}
/* line 178, ../sass/admin.scss */
.stacked UL.selector-chooser {
  margin: 0 0 3px 43%;
}

/* line 183, ../sass/admin.scss */
.selector {
  width: 994px;
}
/* line 185, ../sass/admin.scss */
.selector .selector-available,
.selector .selector-chosen,
.selector SELECT {
  width: 480px;
}
/* line 191, ../sass/admin.scss */
.selector .selector-available INPUT {
  width: 420px;
}
/* line 196, ../sass/admin.scss */
.selector .selector-chosen .selector-filter {
  text-align: center;
}

/* line 202, ../sass/admin.scss */
A.selector-chooseall,
A.selector-clearall {
  width: 120px;
}

/* line 209, ../sass/admin.scss */
.form-row .qrcode IMG {
  vertical-align: top;
  margin-left: 130px;
}

/* line 216, ../sass/admin.scss */
.calendarbox {
  width: 260px;
}

/* line 220, ../sass/admin.scss */
.mce-tinymce {
  display: inline-block !important;
}

/* line 225, ../sass/admin.scss */
.mce-reset .mce-title {
  font-family: Arial, Verdana, sans-serif !important;
  font-size: 24px !important;
  font-weight: normal !important;
}
